<VirtualHost *:{{ webport }}>
  ServerAdmin webmaster@localhost
  ServerName  certs.{{ webhost }}

  DocumentRoot {{ output_path }}
  ErrorLog ${APACHE_LOG_DIR}/error.log
  LogLevel warn

  <Directory {{ output_path }}>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

</VirtualHost>
