
api_user = '{{ api_user }}';
api_pass = '{{ api_pass }}';

output_path = '{{ output_path }}';
svg_path = '{{ svg_path }}';

endpoint = '{{ endpoint }}';
authorization_jwt = '{{ authorization_jwt }}';
